<!-- MASTHEAD_BEGIN -->
<div id="ibm-masthead" role="banner" aria-label="IBM">
  <div id="ibm-mast-options">
    <ul role="toolbar" aria-labelledby="ibm-masthead">
      <li id="ibm-geo" role="presentation">
          <a href="//www.ibm.com/planetwide/select/selector.html">United States</a>
      </li>
    </ul>
  </div>

  <div id="ibm-universal-nav">
    <div id="ibm-home"><a href="//www.ibm.com/us-en/">IBM®</a></div>
    
    <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
        <li><a href="//www.ibm.com/sitemap/us/en/" hidden>Site map</a></li>
    </ul>

    <div class="ibm-masthead-rightside">
      <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead" class="ibm-has-scope">
        <div class="ibm-masthead-search-close">
          <p class="ibm-ind-link ibm-icononly ibm-padding-bottom-0">
            <a href="#" class="ibm-close-link ibm-nospacing">Close</a>
          </p>
        </div>
        <form id="ibm-search-form" action="//www.ibm.com/Search/" method="get" style="display:none" aria-labelledby="ibm-masthead">
          <p>
            <label for="q"><span class="ibm-access">Search</span></label>
            <input type="text" maxlength="100" value="" name="q" id="q" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="ibm-search-typeahead-container">
            <input name="lnk" type="hidden" value="mhsrch">
            <input type="hidden" value="17" name="v">
            <input type="hidden" value="utf" name="en">
            <input type="hidden" value="en" name="lang">
            <input type="hidden" value="us" name="cc">
            <button role="button" type="submit" id="ibm-search" class="ibm-search-link" value="Submit">
              <span class="ibm-access">Submit</span>
            </button>
          </p>
        </form>
      </div>

      <div id="ibm-search-typeahead-container" aria-expanded="true" class="ibm-search-typeahead-container ibm-fadeout"></div>
      <ul aria-label="Tools" role="menubar" class="ibm-masthead-iconsonly">
        <li role="presentation" class="ibm-masthead-item-signin">
          <button role="button" aria-haspopup="true" aria-owns="ibm-signin-minimenu-container" class="ibm-profile-link">My IBM</button>
          <ul id="ibm-signin-minimenu-container" role="menu" aria-label="Profile" class="ibm-dropdown-menu">
            <li role="presentation"><a role="menuitem" href="https://myibm.ibm.com/?lnk=mmi">My IBM</a></li>
            <li role="presentation" data-linktype="signin"><a role="menuitem" href="#">Log in</a></li>
          </ul>
        </li>
        <li role="presentation" class="ibm-masthead-item-menu">
          <button role="button" aria-haspopup="true" aria-owns="ibm-burger-menu-container" class="ibm-menu-link">Site navigation</button>
        </li>
      </ul>
    </div> 
  </div>
</div>